```
# buat table crunchcrunchbase_companies_clean_data
# buat table dcdc_bikeshare_q1_2012
# reference: https://colab.research.google.com/drive/15_zXFnQeCusIJgm47NJNoLmgqe7StQ0v?usp=sharing#scrollTo=qNhPXcZvxlWN

# Mengecek jumlah baris data table crunchbase_companies_clean_data
SELECT COUNT(*) FROM crunchbase_companies_clean_data;

# Mengecek jumlah baris data table dc_bikeshare_q1_2012
SELECT COUNT(*) FROM dc_bikeshare_q1_2012;

# Melihat data table crunchbase_companies_clean_data
SELECT * FROM crunchbase_companies_clean_data;

# Melihat kolom founded_at
SELECT name, founded_at
FROM crunchbase_companies_clean_data;

# Mengurutkan kolom founded_at
SELECT name, founded_at
FROM crunchbase_companies_clean_data
ORDER BY founded_at ASC;

# Convert format datetime
UPDATE crunchbase_companies_clean_data
SET founded_at = str_to_date(founded_at, '%m/%d/%y');

# Mengubah tipe data kolom founded_at
ALTER TABLE crunchbase_companies_clean_data
MODIFY founded_at date;

# Extract masing-masing value dari column founded_at
SELECT
  name,
  founded_at,
  extract(year FROM founded_at) AS tahun,
  extract(month FROM founded_at) AS bulan,
  extract(day FROM founded_at) AS tanggal,
  extract(quarter FROM founded_at) AS quarter
FROM crunchbase_companies_clean_data;

# Melihat perusahaan yang didirikan tahun 2010
SELECT *
FROM (
  SELECT
    name,
    founded_at,
    extract(year FROM founded_at) AS tahun,
    extract(month FROM founded_at) AS bulan,
    extract(day FROM founded_at) AS tanggal,
    extract(quarter FROM founded_at) AS quarter
  FROM crunchbase_companies_clean_data
) AS data_company
WHERE tahun=2010
ORDER BY bulan DESC, tanggal DESC;

# Mencari tahu waktu saat ini
SELECT now(), CURRENT_DATE(), CURRENT_TIME();

# Mencari tahu lama waktu berdirinya perusahaan
SELECT
  name,
  founded_at,
  CURRENT_DATE,
  timestampdiff(year, founded_at, CURRENT_DATE) AS jangka_waktu_tahun,
  timestampdiff(day, founded_at, CURRENT_DATE) AS jangka_waktu_hari
FROM crunchbase_companies_clean_data;

# Melihat data table dc_bikeshare_q1_2012
SELECT * FROM dc_bikeshare_q1_2012;

# Mengekstrakk start_titme dengan
SELECT
  start_time,
  # LEFT(nama kolom, berapa karakter yang mau diambil)
  LEFT(start_time, 10) AS tanggal,
  RIGHT(start_time, 8) AS waktu,
  # substr(nama kolom, mulai dari karakter ke, mau ambil berapa karakter)
  substr(start_time, 15, 2) AS menit
FROM dc_bikeshare_q1_2012;

# Menghappus huruf "M" pada kata "MADAM"
SELECT
  trim(LEADING 'M' FROM 'MMM10MADAM') AS result_leading,
  trim(TRAILING 'M' FROM 'MADAMMMM') AS result_trailing,
  trim(BOTH 'M'FROM 'MADAM') AS result_both;

# Mengghapus karakter "W0" pada column bike_number
SELECT
  bike_number,
  trim(LEADING 'W0' FROm bike_number) AS result_leading
FROM dc_bikeshare_q1_2012;

# Melihat panjang string
SELECT
  name,
  length(name) AS panjang_nama_comppany
FROM crunchbase_companies_clean_data;

# Uppercase dan lowercase
SELECT
  name,
  upper(name) AS karakter_kapital,
  lower(name) AS karakter_kecil
FROM crunchbase_companies_clean_data;

# Concat data dari column start_terminal dan start_station
SELECT
  start_terminal,
  start_station,
  concat(start_terminal, ' - ', start_station)
FROM dc_bikeshare_q1_2012;
```