# Perkenalan

Jason, RMT 016

## Problem Statement

1. Cari Measure of Central Tendency
2. Cari Measure of Variance

Fokus columns: `['New Cases', 'New Deaths', 'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths', 'Total Recovered', 'Total Active Cases', 'Total Regencies', 'Total Cities', 'Total Districts', 'Total Urban Villages', 'Total Rural Villages', 'Area (km2)', 'Population', 'Population Density', 'New Cases per Million', 'Total Cases per Million', 'New Deaths per Million', 'Total Deaths per Million', 'Total Deaths per 100rb', 'Case Fatality Rate', 'Case Recovered Rate', 'Growth Factor of New Cases', 'Growth Factor of New Deaths']`

# Import pustaka yang dibutuhkan

In [267]:
import pandas as pd

# Data Loading

In [268]:
df = pd.read_csv('./covid_19_indonesia_time_series_all.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  object
 1   Location ISO Code            31822 non-null  object
 2   Location                     31822 non-null  object
 3   New Cases                    31822 non-null  int64
 4   New Deaths                   31822 non-null  int64
 5   New Recovered                31822 non-null  int64
 6   New Active Cases             31822 non-null  int64
 7   Total Cases                  31822 non-null  int64
 8   Total Deaths                 31822 non-null  int64
 9   Total Recovered              31822 non-null  int64
 10  Total Active Cases           31822 non-null  int64
 11  Location Level               31822 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     30893 non-null  object
 14  Country                      31822 non-null  object
 15  Continent                    31822 non-null  object
 16  Island                       30893 non-null  object
 17  Time Zone                    30893 non-null  object
 18  Special Status               4558 non-null   object
 19  Total Regencies              31822 non-null  int64
 20  Total Cities                 30921 non-null  float64
 21  Total Districts              31822 non-null  int64
 22  Total Urban Villages         30918 non-null  float64
 23  Total Rural Villages         30893 non-null  float64
 24  Area (km2)                   31822 non-null  int64
 25  Population                   31822 non-null  int64
 26  Population Density           31822 non-null  float64
 27  Longitude                    31822 non-null  float64
 28  Latitude                     31822 non-null  float64
 29  New Cases per Million        31822 non-null  float64
 30  Total Cases per Million      31822 non-null  float64
 31  New Deaths per Million       31822 non-null  float64
 32  Total Deaths per Million     31822 non-null  float64
 33  Total Deaths per 100rb       31822 non-null  float64
 34  Case Fatality Rate           31822 non-null  object
 35  Case Recovered Rate          31822 non-null  object
 36  Growth Factor of New Cases   29883 non-null  float64
 37  Growth Factor of New Deaths  28375 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 9.2+ MB

## Issues

- [x] column `Date` is not sorted properly.
  - unnecessary for the problem statement, but probably a good habit.

columns that have NaN value:
- [x] column `Total Cities`
  - verdict: drop the column.
- [x] column `Total Urban Villages`
  - verdict: drop the column.
- [x] column `Total Rural Villages`
  - verdict: drop the column.
- [x] column `Growth Factor of New Cases`
  - formula: `Today New Cases / Yesterday New Cases`
  - verdict: replace NaN value with 0
- [x] column `Growth Factor of New Deaths`
  - formula: `Today New Deaths / Yesterday New Deaths`
  - verdict: replace NaN value with 0

In [269]:
# column Date was not properly sorted.
df.sort_values(['Location ISO Code', 'Date'])

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,City or Regency,Province,Country,Continent,Island,Time Zone,Special Status,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
10018,1/1/2021,ID-AC,Aceh,7,0,10,-3,8753,358,7150,1245,Province,NaN,Aceh,Indonesia,Asia,Sumatera,UTC+07:00,Daerah Khusus,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,96.91,4.23,1.33,"1,668.11",0.00,68.23,6.82,4.09%,81.69%,1.75,1.00
22793,1/1/2022,ID-AC,Aceh,0,0,0,0,38430,2066,36362,2,Province,NaN,Aceh,Indonesia,Asia,Sumatera,UTC+07:00,Daerah Khusus,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,96.91,4.23,0.00,"7,323.83",0.00,393.73,39.37,5.38%,94.62%,0.00,1.00
10333,1/10/2021,ID-AC,Aceh,15,0,14,1,8909,364,7308,1237,Province,NaN,Aceh,Indonesia,Asia,Sumatera,UTC+07:00,Daerah Khusus,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,96.91,4.23,2.86,"1,697.84",0.00,69.37,6.94,4.09%,82.03%,0.94,0.00
23108,1/10/2022,ID-AC,Aceh,1,0,1,0,38433,2066,36366,1,Province,NaN,Aceh,Indonesia,Asia,Sumatera,UTC+07:00,Daerah Khusus,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,96.91,4.23,0.19,"7,324.40",0.00,393.73,39.37,5.38%,94.62%,NaN,1.00
10368,1/11/2021,ID-AC,Aceh,10,0,1,9,8919,364,7309,1246,Province,NaN,Aceh,Indonesia,Asia,Sumatera,UTC+07:00,Daerah Khusus,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,96.91,4.23,1.91,"1,699.75",0.00,69.37,6.94,4.08%,81.95%,0.67,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18775,9/8/2021,IDN,Indonesia,6731,626,11912,-5807,4147365,137782,3876760,132823,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.00,7230,"8,488.00","74,953.00",1916907,265185520,138.34,113.92,-0.79,25.38,"15,639.49",2.36,519.57,51.96,3.32%,93.48%,0.93,0.92
31550,9/8/2022,IDN,Indonesia,3138,12,3441,-315,6385140,157729,6189607,37804,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.00,7230,"8,488.00","74,953.00",1916907,265185520,138.34,113.92,-0.79,11.83,"24,078.01",0.05,594.79,59.48,2.47%,96.94%,0.89,0.57
6035,9/9/2020,IDN,Indonesia,3307,106,2242,959,203342,8336,145200,49806,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.00,7230,"8,488.00","74,953.00",1916907,265185520,138.34,113.92,-0.79,12.47,766.79,0.40,31.43,3.14,4.10%,71.41%,1.09,1.06
18810,9/9/2021,IDN,Indonesia,5990,334,10650,-4994,4153355,138116,3887410,127829,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.00,7230,"8,488.00","74,953.00",1916907,265185520,138.34,113.92,-0.79,22.59,"15,662.07",1.26,520.83,52.08,3.33%,93.60%,0.89,0.53
31585,9/9/2022,IDN,Indonesia,2804,12,5346,-2554,6387944,157741,6194953,35250,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.00,7230,"8,488.00","74,953.00",1916907,265185520,138.34,113.92,-0.79,10.57,"24,088.59",0.05,594.83,59.48,2.47%,96.98%,0.89,1.00

In [270]:
df.describe()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,City or Regency,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
count,"31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00",0.00,"31,822.00","30,921.00","31,822.00","30,918.00","30,893.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","29,883.00","28,375.00"
mean,402.31,9.92,390.40,1.99,"159,450.00","4,564.75","149,261.46","5,623.78",NaN,24.03,5.84,417.95,505.51,"4,462.49","110,653.17","15,367,655.68",738.89,113.70,-2.73,28.13,"11,485.04",0.64,289.63,28.96,1.33,1.03
std,"2,320.63",64.14,"2,199.88","1,219.51","626,443.45","17,693.73","595,853.62","28,537.41",NaN,68.36,16.39,"1,193.00","1,422.07","12,582.74","318,786.49","44,617,141.31","2,729.43",9.86,3.61,74.31,"16,477.39",1.93,363.43,36.34,2.68,1.35
min,0.00,0.00,0.00,"-29,938.00",1.00,0.00,0.00,"-2,343.00",NaN,1.00,1.00,44.00,35.00,275.00,664.00,"648,407.00",8.59,96.91,-8.68,0.00,0.01,0.00,0.00,0.00,0.00,0.00
25%,3.00,0.00,2.00,-12.00,"5,223.25",128.00,"3,913.50",80.00,NaN,7.00,1.00,103.00,99.00,928.00,"16,787.00","1,999,539.00",47.79,106.11,-6.20,0.83,"1,291.37",0.00,38.86,3.89,0.65,0.75
50%,27.00,0.00,20.00,0.00,"23,596.50",565.50,"21,027.50",557.00,NaN,11.00,2.00,169.00,175.00,"1,591.00","42,013.00","4,216,171.00",103.84,113.42,-2.46,5.71,"6,804.28",0.00,158.41,15.84,1.00,1.00
75%,130.00,3.00,123.00,19.00,"69,927.75","2,189.00","64,142.00","2,279.00",NaN,18.00,4.00,289.00,332.00,"2,853.00","75,468.00","9,095,591.00",262.70,121.20,0.21,22.29,"14,557.36",0.54,389.91,38.99,1.31,1.00
max,"64,718.00","2,069.00","61,361.00","39,165.00","6,405,044.00","157,876.00","6,218,708.00","586,113.00",NaN,416.00,98.00,"7,230.00","8,488.00","74,953.00","1,916,907.00","265,185,520.00","16,334.31",138.70,4.23,"1,459.04","130,231.62",63.80,"1,632.60",163.26,175.00,134.50

# Data Cleaning

## fix: column `Date`

In [271]:
# cast column Date to datetime, so we can sort it later.
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  datetime64[ns]
 1   Location ISO Code            31822 non-null  object
 2   Location                     31822 non-null  object
 3   New Cases                    31822 non-null  int64
 4   New Deaths                   31822 non-null  int64
 5   New Recovered                31822 non-null  int64
 6   New Active Cases             31822 non-null  int64
 7   Total Cases                  31822 non-null  int64
 8   Total Deaths                 31822 non-null  int64
 9   Total Recovered              31822 non-null  int64
 10  Total Active Cases           31822 non-null  int64
 11  Location Level               31822 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     30893 non-null  object
 14  Country                      31822 non-null  object
 15  Continent                    31822 non-null  object
 16  Island                       30893 non-null  object
 17  Time Zone                    30893 non-null  object
 18  Special Status               4558 non-null   object
 19  Total Regencies              31822 non-null  int64
 20  Total Cities                 30921 non-null  float64
 21  Total Districts              31822 non-null  int64
 22  Total Urban Villages         30918 non-null  float64
 23  Total Rural Villages         30893 non-null  float64
 24  Area (km2)                   31822 non-null  int64
 25  Population                   31822 non-null  int64
 26  Population Density           31822 non-null  float64
 27  Longitude                    31822 non-null  float64
 28  Latitude                     31822 non-null  float64
 29  New Cases per Million        31822 non-null  float64
 30  Total Cases per Million      31822 non-null  float64
 31  New Deaths per Million       31822 non-null  float64
 32  Total Deaths per Million     31822 non-null  float64
 33  Total Deaths per 100rb       31822 non-null  float64
 34  Case Fatality Rate           31822 non-null  object
 35  Case Recovered Rate          31822 non-null  object
 36  Growth Factor of New Cases   29883 non-null  float64
 37  Growth Factor of New Deaths  28375 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(12), object(11)
memory usage: 9.2+ MB

In [272]:
df = df.sort_values(['Location ISO Code','Date'])
df.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,City or Regency,Province,Country,Continent,Island,Time Zone,Special Status,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
238,2020-03-26,ID-AC,Aceh,1,0,0,1,1,0,1,0,Province,NaN,Aceh,Indonesia,Asia,Sumatera,UTC+07:00,Daerah Khusus,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,96.91,4.23,0.19,0.19,0.00,0.00,0.00,0.00%,100.00%,NaN,NaN
263,2020-03-27,ID-AC,Aceh,3,0,0,3,4,0,1,3,Province,NaN,Aceh,Indonesia,Asia,Sumatera,UTC+07:00,Daerah Khusus,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,96.91,4.23,0.57,0.76,0.00,0.00,0.00,0.00%,25.00%,3.00,1.00
289,2020-03-28,ID-AC,Aceh,1,0,0,1,5,0,1,4,Province,NaN,Aceh,Indonesia,Asia,Sumatera,UTC+07:00,Daerah Khusus,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,96.91,4.23,0.19,0.95,0.00,0.00,0.00,0.00%,20.00%,0.33,1.00
317,2020-03-29,ID-AC,Aceh,0,0,0,0,5,0,1,4,Province,NaN,Aceh,Indonesia,Asia,Sumatera,UTC+07:00,Daerah Khusus,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,96.91,4.23,0.00,0.95,0.00,0.00,0.00,0.00%,20.00%,0.00,1.00
346,2020-03-30,ID-AC,Aceh,0,0,0,0,5,0,1,4,Province,NaN,Aceh,Indonesia,Asia,Sumatera,UTC+07:00,Daerah Khusus,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,96.91,4.23,0.00,0.95,0.00,0.00,0.00,0.00%,20.00%,1.00,1.00

In [273]:
# drop unnecessary columns.
df2 = df.drop(df.columns[[1,11,12,13,14,15,16,17,18,27,28]],axis=1).copy()

# force pandas to display any number of columns
pd.set_option('display.max_columns', None)
df2

,Date,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
238,2020-03-26,Aceh,1,0,0,1,1,0,1,0,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,0.19,0.19,0.00,0.00,0.00,0.00%,100.00%,NaN,NaN
263,2020-03-27,Aceh,3,0,0,3,4,0,1,3,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,0.57,0.76,0.00,0.00,0.00,0.00%,25.00%,3.00,1.00
289,2020-03-28,Aceh,1,0,0,1,5,0,1,4,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,0.19,0.95,0.00,0.00,0.00,0.00%,20.00%,0.33,1.00
317,2020-03-29,Aceh,0,0,0,0,5,0,1,4,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,0.00,0.95,0.00,0.00,0.00,0.00%,20.00%,0.00,1.00
346,2020-03-30,Aceh,0,0,0,0,5,0,1,4,18,5.00,289,NaN,"6,497.00",57956,5247257,90.54,0.00,0.95,0.00,0.00,0.00,0.00%,20.00%,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31690,2022-09-12,Indonesia,1848,17,3465,-1634,6394340,157787,6204241,32312,416,98.00,7230,"8,488.00","74,953.00",1916907,265185520,138.34,6.97,"24,112.70",0.06,595.01,59.50,2.47%,97.03%,0.95,1.31
31725,2022-09-13,Indonesia,2896,20,3617,-741,6397236,157807,6207858,31571,416,98.00,7230,"8,488.00","74,953.00",1916907,265185520,138.34,10.92,"24,123.62",0.08,595.08,59.51,2.47%,97.04%,1.57,1.18
31760,2022-09-14,Indonesia,2799,21,3938,-1160,6400035,157828,6211796,30411,416,98.00,7230,"8,488.00","74,953.00",1916907,265185520,138.34,10.55,"24,134.18",0.08,595.16,59.52,2.47%,97.06%,0.97,1.05
31794,2022-09-15,Indonesia,2651,21,3915,-1285,6402686,157849,6215711,29126,416,98.00,7230,"8,488.00","74,953.00",1916907,265185520,138.34,10.00,"24,144.18",0.08,595.24,59.52,2.47%,97.08%,0.95,1.00
31821,2022-09-16,Indonesia,2358,27,2997,-666,6405044,157876,6218708,28460,416,98.00,7230,"8,488.00","74,953.00",1916907,265185520,138.34,8.89,"24,153.07",0.10,595.34,59.53,2.46%,97.09%,0.89,1.29

## fix: column `Total Cities`

In [274]:
# row with column 'Location' == 'Sulawesi Barat' have only NaN value in column 'Total Cities'
# If we wish to find the central tendency of the dataset, 
# either drop the 'Total Cities' column or drop rows with column 'Location' == 'Sulawesi Barat'
# we will drop column 'Total Cities'
df2.loc[(df2['Total Cities'].isna()) & (df2['Location'] == 'Sulawesi Barat')].info()
df3 = df2.drop('Total Cities', axis='columns').copy()
df3

<class 'pandas.core.frame.DataFrame'>
Int64Index: 901 entries, 309 to 31780
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         901 non-null    datetime64[ns]
 1   Location                     901 non-null    object
 2   New Cases                    901 non-null    int64
 3   New Deaths                   901 non-null    int64
 4   New Recovered                901 non-null    int64
 5   New Active Cases             901 non-null    int64
 6   Total Cases                  901 non-null    int64
 7   Total Deaths                 901 non-null    int64
 8   Total Recovered              901 non-null    int64
 9   Total Active Cases           901 non-null    int64
 10  Total Regencies              901 non-null    int64
 11  Total Cities                 0 non-null      float64
 12  Total Districts              901 non-null    int64
 13  Total Urban Villages         901 non-null    float64
 14  Total Rural Villages         901 non-null    float64
 15  Area (km2)                   901 non-null    int64
 16  Population                   901 non-null    int64
 17  Population Density           901 non-null    float64
 18  New Cases per Million        901 non-null    float64
 19  Total Cases per Million      901 non-null    float64
 20  New Deaths per Million       901 non-null    float64
 21  Total Deaths per Million     901 non-null    float64
 22  Total Deaths per 100rb       901 non-null    float64
 23  Case Fatality Rate           901 non-null    object
 24  Case Recovered Rate          901 non-null    object
 25  Growth Factor of New Cases   794 non-null    float64
 26  Growth Factor of New Deaths  819 non-null    float64
dtypes: datetime64[ns](1), float64(11), int64(12), object(3)
memory usage: 197.1+ KB

,Date,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Total Regencies,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
238,2020-03-26,Aceh,1,0,0,1,1,0,1,0,18,289,NaN,"6,497.00",57956,5247257,90.54,0.19,0.19,0.00,0.00,0.00,0.00%,100.00%,NaN,NaN
263,2020-03-27,Aceh,3,0,0,3,4,0,1,3,18,289,NaN,"6,497.00",57956,5247257,90.54,0.57,0.76,0.00,0.00,0.00,0.00%,25.00%,3.00,1.00
289,2020-03-28,Aceh,1,0,0,1,5,0,1,4,18,289,NaN,"6,497.00",57956,5247257,90.54,0.19,0.95,0.00,0.00,0.00,0.00%,20.00%,0.33,1.00
317,2020-03-29,Aceh,0,0,0,0,5,0,1,4,18,289,NaN,"6,497.00",57956,5247257,90.54,0.00,0.95,0.00,0.00,0.00,0.00%,20.00%,0.00,1.00
346,2020-03-30,Aceh,0,0,0,0,5,0,1,4,18,289,NaN,"6,497.00",57956,5247257,90.54,0.00,0.95,0.00,0.00,0.00,0.00%,20.00%,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31690,2022-09-12,Indonesia,1848,17,3465,-1634,6394340,157787,6204241,32312,416,7230,"8,488.00","74,953.00",1916907,265185520,138.34,6.97,"24,112.70",0.06,595.01,59.50,2.47%,97.03%,0.95,1.31
31725,2022-09-13,Indonesia,2896,20,3617,-741,6397236,157807,6207858,31571,416,7230,"8,488.00","74,953.00",1916907,265185520,138.34,10.92,"24,123.62",0.08,595.08,59.51,2.47%,97.04%,1.57,1.18
31760,2022-09-14,Indonesia,2799,21,3938,-1160,6400035,157828,6211796,30411,416,7230,"8,488.00","74,953.00",1916907,265185520,138.34,10.55,"24,134.18",0.08,595.16,59.52,2.47%,97.06%,0.97,1.05
31794,2022-09-15,Indonesia,2651,21,3915,-1285,6402686,157849,6215711,29126,416,7230,"8,488.00","74,953.00",1916907,265185520,138.34,10.00,"24,144.18",0.08,595.24,59.52,2.47%,97.08%,0.95,1.00
31821,2022-09-16,Indonesia,2358,27,2997,-666,6405044,157876,6218708,28460,416,7230,"8,488.00","74,953.00",1916907,265185520,138.34,8.89,"24,153.07",0.10,595.34,59.53,2.46%,97.09%,0.89,1.29

## fix: column `Total Urban Villages`

In [275]:
# quick verdict: drop the column
df3.loc[(df3['Location'] == 'Aceh')].info()
df4 = df3.drop('Total Urban Villages', axis='columns').copy()
df4

<class 'pandas.core.frame.DataFrame'>
Int64Index: 904 entries, 238 to 31788
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         904 non-null    datetime64[ns]
 1   Location                     904 non-null    object
 2   New Cases                    904 non-null    int64
 3   New Deaths                   904 non-null    int64
 4   New Recovered                904 non-null    int64
 5   New Active Cases             904 non-null    int64
 6   Total Cases                  904 non-null    int64
 7   Total Deaths                 904 non-null    int64
 8   Total Recovered              904 non-null    int64
 9   Total Active Cases           904 non-null    int64
 10  Total Regencies              904 non-null    int64
 11  Total Districts              904 non-null    int64
 12  Total Urban Villages         0 non-null      float64
 13  Total Rural Villages         904 non-null    float64
 14  Area (km2)                   904 non-null    int64
 15  Population                   904 non-null    int64
 16  Population Density           904 non-null    float64
 17  New Cases per Million        904 non-null    float64
 18  Total Cases per Million      904 non-null    float64
 19  New Deaths per Million       904 non-null    float64
 20  Total Deaths per Million     904 non-null    float64
 21  Total Deaths per 100rb       904 non-null    float64
 22  Case Fatality Rate           904 non-null    object
 23  Case Recovered Rate          904 non-null    object
 24  Growth Factor of New Cases   838 non-null    float64
 25  Growth Factor of New Deaths  827 non-null    float64
dtypes: datetime64[ns](1), float64(10), int64(12), object(3)
memory usage: 190.7+ KB

,Date,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Total Regencies,Total Districts,Total Rural Villages,Area (km2),Population,Population Density,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
238,2020-03-26,Aceh,1,0,0,1,1,0,1,0,18,289,"6,497.00",57956,5247257,90.54,0.19,0.19,0.00,0.00,0.00,0.00%,100.00%,NaN,NaN
263,2020-03-27,Aceh,3,0,0,3,4,0,1,3,18,289,"6,497.00",57956,5247257,90.54,0.57,0.76,0.00,0.00,0.00,0.00%,25.00%,3.00,1.00
289,2020-03-28,Aceh,1,0,0,1,5,0,1,4,18,289,"6,497.00",57956,5247257,90.54,0.19,0.95,0.00,0.00,0.00,0.00%,20.00%,0.33,1.00
317,2020-03-29,Aceh,0,0,0,0,5,0,1,4,18,289,"6,497.00",57956,5247257,90.54,0.00,0.95,0.00,0.00,0.00,0.00%,20.00%,0.00,1.00
346,2020-03-30,Aceh,0,0,0,0,5,0,1,4,18,289,"6,497.00",57956,5247257,90.54,0.00,0.95,0.00,0.00,0.00,0.00%,20.00%,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31690,2022-09-12,Indonesia,1848,17,3465,-1634,6394340,157787,6204241,32312,416,7230,"74,953.00",1916907,265185520,138.34,6.97,"24,112.70",0.06,595.01,59.50,2.47%,97.03%,0.95,1.31
31725,2022-09-13,Indonesia,2896,20,3617,-741,6397236,157807,6207858,31571,416,7230,"74,953.00",1916907,265185520,138.34,10.92,"24,123.62",0.08,595.08,59.51,2.47%,97.04%,1.57,1.18
31760,2022-09-14,Indonesia,2799,21,3938,-1160,6400035,157828,6211796,30411,416,7230,"74,953.00",1916907,265185520,138.34,10.55,"24,134.18",0.08,595.16,59.52,2.47%,97.06%,0.97,1.05
31794,2022-09-15,Indonesia,2651,21,3915,-1285,6402686,157849,6215711,29126,416,7230,"74,953.00",1916907,265185520,138.34,10.00,"24,144.18",0.08,595.24,59.52,2.47%,97.08%,0.95,1.00
31821,2022-09-16,Indonesia,2358,27,2997,-666,6405044,157876,6218708,28460,416,7230,"74,953.00",1916907,265185520,138.34,8.89,"24,153.07",0.10,595.34,59.53,2.46%,97.09%,0.89,1.29

## fix: column `Total Rural Villages`

In [276]:
# quick verdict: drop the column
df4.loc[(df4['Location'] == 'DKI Jakarta')].info()
df5 = df4.drop('Total Rural Villages', axis='columns').copy()
df5

<class 'pandas.core.frame.DataFrame'>
Int64Index: 929 entries, 0 to 31792
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         929 non-null    datetime64[ns]
 1   Location                     929 non-null    object
 2   New Cases                    929 non-null    int64
 3   New Deaths                   929 non-null    int64
 4   New Recovered                929 non-null    int64
 5   New Active Cases             929 non-null    int64
 6   Total Cases                  929 non-null    int64
 7   Total Deaths                 929 non-null    int64
 8   Total Recovered              929 non-null    int64
 9   Total Active Cases           929 non-null    int64
 10  Total Regencies              929 non-null    int64
 11  Total Districts              929 non-null    int64
 12  Total Rural Villages         0 non-null      float64
 13  Area (km2)                   929 non-null    int64
 14  Population                   929 non-null    int64
 15  Population Density           929 non-null    float64
 16  New Cases per Million        929 non-null    float64
 17  Total Cases per Million      929 non-null    float64
 18  New Deaths per Million       929 non-null    float64
 19  Total Deaths per Million     929 non-null    float64
 20  Total Deaths per 100rb       929 non-null    float64
 21  Case Fatality Rate           929 non-null    object
 22  Case Recovered Rate          929 non-null    object
 23  Growth Factor of New Cases   926 non-null    float64
 24  Growth Factor of New Deaths  865 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(12), object(3)
memory usage: 188.7+ KB

,Date,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Total Regencies,Total Districts,Area (km2),Population,Population Density,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
238,2020-03-26,Aceh,1,0,0,1,1,0,1,0,18,289,57956,5247257,90.54,0.19,0.19,0.00,0.00,0.00,0.00%,100.00%,NaN,NaN
263,2020-03-27,Aceh,3,0,0,3,4,0,1,3,18,289,57956,5247257,90.54,0.57,0.76,0.00,0.00,0.00,0.00%,25.00%,3.00,1.00
289,2020-03-28,Aceh,1,0,0,1,5,0,1,4,18,289,57956,5247257,90.54,0.19,0.95,0.00,0.00,0.00,0.00%,20.00%,0.33,1.00
317,2020-03-29,Aceh,0,0,0,0,5,0,1,4,18,289,57956,5247257,90.54,0.00,0.95,0.00,0.00,0.00,0.00%,20.00%,0.00,1.00
346,2020-03-30,Aceh,0,0,0,0,5,0,1,4,18,289,57956,5247257,90.54,0.00,0.95,0.00,0.00,0.00,0.00%,20.00%,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31690,2022-09-12,Indonesia,1848,17,3465,-1634,6394340,157787,6204241,32312,416,7230,1916907,265185520,138.34,6.97,"24,112.70",0.06,595.01,59.50,2.47%,97.03%,0.95,1.31
31725,2022-09-13,Indonesia,2896,20,3617,-741,6397236,157807,6207858,31571,416,7230,1916907,265185520,138.34,10.92,"24,123.62",0.08,595.08,59.51,2.47%,97.04%,1.57,1.18
31760,2022-09-14,Indonesia,2799,21,3938,-1160,6400035,157828,6211796,30411,416,7230,1916907,265185520,138.34,10.55,"24,134.18",0.08,595.16,59.52,2.47%,97.06%,0.97,1.05
31794,2022-09-15,Indonesia,2651,21,3915,-1285,6402686,157849,6215711,29126,416,7230,1916907,265185520,138.34,10.00,"24,144.18",0.08,595.24,59.52,2.47%,97.08%,0.95,1.00
31821,2022-09-16,Indonesia,2358,27,2997,-666,6405044,157876,6218708,28460,416,7230,1916907,265185520,138.34,8.89,"24,153.07",0.10,595.34,59.53,2.46%,97.09%,0.89,1.29

## fix: column `Growth Factor of New Cases`

In [277]:
df5.loc[df5['Growth Factor of New Cases'].isna()] # Aceh, Daerah Istimewa Yogyakarta, Indonesia, ...

# NaN value because no previous data.
temp_df5_aceh = df5.loc[(df5['Location'] == 'Aceh'), 
        ['New Cases', 'Growth Factor of New Cases']]

# NaN value because Yesterday New Cases = 0
temp_df5_aceh.loc[df5['Growth Factor of New Cases'].isna()] # 238 988 1198 1408 1513
temp_df5_aceh.index.get_loc(988) # 23
df5.iloc[21:].loc[:,['New Cases', 'Growth Factor of New Cases']]

# verdict: replace NaN value with 0.
df5['Growth Factor of New Cases'] = df5['Growth Factor of New Cases'].fillna(0)
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31822 entries, 238 to 31821
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  datetime64[ns]
 1   Location                     31822 non-null  object
 2   New Cases                    31822 non-null  int64
 3   New Deaths                   31822 non-null  int64
 4   New Recovered                31822 non-null  int64
 5   New Active Cases             31822 non-null  int64
 6   Total Cases                  31822 non-null  int64
 7   Total Deaths                 31822 non-null  int64
 8   Total Recovered              31822 non-null  int64
 9   Total Active Cases           31822 non-null  int64
 10  Total Regencies              31822 non-null  int64
 11  Total Districts              31822 non-null  int64
 12  Area (km2)                   31822 non-null  int64
 13  Population                   31822 non-null  int64
 14  Population Density           31822 non-null  float64
 15  New Cases per Million        31822 non-null  float64
 16  Total Cases per Million      31822 non-null  float64
 17  New Deaths per Million       31822 non-null  float64
 18  Total Deaths per Million     31822 non-null  float64
 19  Total Deaths per 100rb       31822 non-null  float64
 20  Case Fatality Rate           31822 non-null  object
 21  Case Recovered Rate          31822 non-null  object
 22  Growth Factor of New Cases   31822 non-null  float64
 23  Growth Factor of New Deaths  28375 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(12), object(3)
memory usage: 7.1+ MB

## fix: column `Growth Factor of New Deaths`

In [278]:
## quick verdict: replace NaN value with 0

df5['Growth Factor of New Deaths'] = df5['Growth Factor of New Deaths'].fillna(0)
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31822 entries, 238 to 31821
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  datetime64[ns]
 1   Location                     31822 non-null  object
 2   New Cases                    31822 non-null  int64
 3   New Deaths                   31822 non-null  int64
 4   New Recovered                31822 non-null  int64
 5   New Active Cases             31822 non-null  int64
 6   Total Cases                  31822 non-null  int64
 7   Total Deaths                 31822 non-null  int64
 8   Total Recovered              31822 non-null  int64
 9   Total Active Cases           31822 non-null  int64
 10  Total Regencies              31822 non-null  int64
 11  Total Districts              31822 non-null  int64
 12  Area (km2)                   31822 non-null  int64
 13  Population                   31822 non-null  int64
 14  Population Density           31822 non-null  float64
 15  New Cases per Million        31822 non-null  float64
 16  Total Cases per Million      31822 non-null  float64
 17  New Deaths per Million       31822 non-null  float64
 18  Total Deaths per Million     31822 non-null  float64
 19  Total Deaths per 100rb       31822 non-null  float64
 20  Case Fatality Rate           31822 non-null  object
 21  Case Recovered Rate          31822 non-null  object
 22  Growth Factor of New Cases   31822 non-null  float64
 23  Growth Factor of New Deaths  31822 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(12), object(3)
memory usage: 7.1+ MB

# Explorasi data

In [279]:
pd.options.display.float_format = '{:,.2f}'.format
df5.describe()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Total Regencies,Total Districts,Area (km2),Population,Population Density,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
count,"31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00","31,822.00"
mean,402.31,9.92,390.40,1.99,"159,450.00","4,564.75","149,261.46","5,623.78",24.03,417.95,"110,653.17","15,367,655.68",738.89,28.13,"11,485.04",0.64,289.63,28.96,1.25,0.92
std,"2,320.63",64.14,"2,199.88","1,219.51","626,443.45","17,693.73","595,853.62","28,537.41",68.36,"1,193.00","318,786.49","44,617,141.31","2,729.43",74.31,"16,477.39",1.93,363.43,36.34,2.62,1.32
min,0.00,0.00,0.00,"-29,938.00",1.00,0.00,0.00,"-2,343.00",1.00,44.00,664.00,"648,407.00",8.59,0.00,0.01,0.00,0.00,0.00,0.00,0.00
25%,3.00,0.00,2.00,-12.00,"5,223.25",128.00,"3,913.50",80.00,7.00,103.00,"16,787.00","1,999,539.00",47.79,0.83,"1,291.37",0.00,38.86,3.89,0.55,0.36
50%,27.00,0.00,20.00,0.00,"23,596.50",565.50,"21,027.50",557.00,11.00,169.00,"42,013.00","4,216,171.00",103.84,5.71,"6,804.28",0.00,158.41,15.84,0.96,1.00
75%,130.00,3.00,123.00,19.00,"69,927.75","2,189.00","64,142.00","2,279.00",18.00,289.00,"75,468.00","9,095,591.00",262.70,22.29,"14,557.36",0.54,389.91,38.99,1.25,1.00
max,"64,718.00","2,069.00","61,361.00","39,165.00","6,405,044.00","157,876.00","6,218,708.00","586,113.00",416.00,"7,230.00","1,916,907.00","265,185,520.00","16,334.31","1,459.04","130,231.62",63.80,"1,632.60",163.26,175.00,134.50

In [313]:
# Index.difference() return a new index with elements of index not in the `other` arg.
temp_df5_columns = df5.columns.difference(['Date', 'Location', 'Case Fatality Rate', 'Case Recovered Rate'])

df5.loc[:,temp_df5_columns].var()

Area (km2)                          101,624,824,943.83
Growth Factor of New Cases                        6.84
Growth Factor of New Deaths                       1.73
New Active Cases                          1,487,212.82
New Cases                                 5,385,322.85
New Cases per Million                         5,521.93
New Deaths                                    4,113.82
New Deaths per Million                            3.74
New Recovered                             4,839,466.74
Population                    1,990,689,298,611,128.00
Population Density                        7,449,797.00
Total Active Cases                      814,383,901.06
Total Cases                         392,431,396,999.77
Total Cases per Million                 271,504,232.24
Total Deaths                            313,068,129.77
Total Deaths per 100rb                        1,320.80
Total Deaths per Million                    132,080.44
Total Districts                           1,423,237.43
Total Recovered                     355,041,537,902.23
Total Regencies                               4,673.05
dtype: float64