# Soal latihan untuk persiapan Live Code 1

Kisi-kisi apa saja yang akan keluar:
- Load data pandas menggunakan pd.read_csv, pd.read_excel.
- Pembuatan dan penggunaan fungsi 
- Pandas Query/Filtering
- For loop dan conditional if yang diterapkan pada pandas
- Akses row dataframe pandas menggunakan loc/iloc
- Akses kolom dataframe pandas
- Penggunaan method di dataframe/series pandas terutama method agregat (rata-rata, min, max, count, std, dll)

In [24]:
import pandas as pd

sisi_1 = [22, 15, 9, 5, 17, 22, 16, 6, 6, 20, 8, 30, 9, 15, 11, 17, 5, 16, 9, 26]
sisi_2 = [10, 5, 5, 13, 6, 12, 8, 5, 16, 17, 5, 22, 12, 10, 15, 3, 6, 13, 15, 5]

df = pd.DataFrame({'sisi1': sisi_1, 'sisi2': sisi_2})
df

    sisi1  sisi2
0      22     10
1      15      5
2       9      5
3       5     13
4      17      6
5      22     12
6      16      8
7       6      5
8       6     16
9      20     17
10      8      5
11     30     22
12      9     12
13     15     10
14     11     15
15     17      3
16      5      6
17     16     13
18      9     15
19     26      5

1. Buatlah dua fungsi untuk menghitung luas persegi dan jajargenjang

In [25]:
display(df.info())

def hitungLuasPersegi(x: int) -> int:
    return x * x

def hitungLuasJajarGenjang(x: int, y: int) -> int:
    return x * y

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sisi1   20 non-null     int64
 1   sisi2   20 non-null     int64
dtypes: int64(2)
memory usage: 448.0 bytes

None

2. Dengan data berikut, buatlah kolom baru yang bernama `luas` yang menyimpan hasil perhitungan luas persegi dan jajargenjang, dimana untuk kolom sisi1 yang nilainya lebih dari 10 akan dihitung luas persegi, dan kurang dari 10 dihitung jajargenjang. **(Hint: Gunakan for loop dan if statement untuk mengerjakan nomor 2, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom luas)**.

In [26]:
for index, row in df.iterrows():
    if row['sisi1'] > 10:
        # Similar to loc, in that both provide label-based lookups
        # Use at if you only need to get or set a single value in a DataFrame or Series.
        df.at[index, 'luas'] = hitungLuasPersegi(row['sisi1'])
        continue
    df.at[index, 'luas'] = hitungLuasJajarGenjang(row['sisi1'], row['sisi2'])
display(df)

    sisi1  sisi2   luas
0      22     10  484.0
1      15      5  225.0
2       9      5   45.0
3       5     13   65.0
4      17      6  289.0
5      22     12  484.0
6      16      8  256.0
7       6      5   30.0
8       6     16   96.0
9      20     17  400.0
10      8      5   40.0
11     30     22  900.0
12      9     12  108.0
13     15     10  225.0
14     11     15  121.0
15     17      3  289.0
16      5      6   30.0
17     16     13  256.0
18      9     15  135.0
19     26      5  676.0

3. Hitung standar deviasi (.std) kolom luas dimana sisi1 lebih dari 10 atau sisi 2 ganjil

In [27]:
print(df.loc[(df['sisi1'] > 10) | (df['sisi2'] % 2 != 0),'luas'].agg(['mean', 'std']))
"""
New knowledge:
The `or` and `and` python statements require truth-values. For `pandas`, these are considered ambigious so you should use "bitwise" `|` (or) or `&` (and) operations
"""

mean    289.411765
std     238.820293
Name: luas, dtype: float64

KeyError: ''