# Cosine similarity

cos(θ) = A . B / ||A|| * ||B||

In [2]:
import numpy as np
import pandas as pd

In [3]:
# L2 - euclidean distance
np.sqrt(1**2 + 2**2)

2.23606797749979

In [4]:
# L2 - euclidean distance
np.linalg.norm([1,2])

2.23606797749979

In [5]:
movie = pd.read_csv('https://github.com/MahnoorJaved98/Movie-Recommendation-System/blob/main/movie_dataset.csv?raw=true').dropna()
movie

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4772,4772,31192,Drama Action Comedy,http://downterrace.blogspot.com/,42151,murder dark comedy crime family,en,Down Terrace,After serving jail time for a mysterious crime...,1.330379,...,89.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,You're only as good as the people you know.,Down Terrace,6.3,26,Robert Hill Robin Hill Julia Deakin David Scha...,"[{'name': 'Ben Wheatley', 'gender': 2, 'depart...",Ben Wheatley
4773,4773,27000,Comedy,http://www.miramax.com/movie/clerks/,2292,salesclerk loser aftercreditsstinger,en,Clerks,Convenience and video store clerks Dante and R...,19.748658,...,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Just because they serve you doesn't mean they ...,Clerks,7.4,755,Brian O'Halloran Jeff Anderson Jason Mewes Kev...,"[{'name': 'Kevin Smith', 'gender': 2, 'departm...",Kevin Smith
4781,4781,22000,Comedy Romance,https://www.facebook.com/DrySpellMovie,255266,dating divorce sex scene sex comedy anti roman...,en,Dry Spell,Sasha tries to get her soon-to-be ex husband K...,0.048948,...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Getting divorced does funny things to a girl,Dry Spell,6.0,1,Suzi Lorraine Jared Degado Heather Dorff Racha...,"[{'name': 'Travis Legge', 'gender': 0, 'depart...",Travis Legge
4791,4791,13,Horror,http://tincanmanthemovie.com/,157185,home invasion,en,Tin Can Man,Recently dumped by his girlfirend for another ...,0.332679,...,84.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Everything You've Heard is True,Tin Can Man,2.0,1,Michael Parle Emma Eliza Regan Patrick O'Donne...,"[{'name': 'Ivan Kavanagh', 'gender': 0, 'depar...",Ivan Kavanagh
4796,4796,7000,Science Fiction Drama Thriller,http://www.primermovie.com,14337,distrust garage identity crisis time travel ti...,en,Primer,Friends/fledgling entrepreneurs invent a devic...,23.307949,...,77.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What happens if it actually works?,Primer,6.9,658,Shane Carruth David Sullivan Casey Gooden Anan...,"[{'name': 'Shane Carruth', 'gender': 2, 'depar...",Shane Carruth

In [6]:
genres = ''
for row in movie['genres']:
    genres += row + ' '

genres = list(set(genres.split(' ')[:-1]))
genres

['Family',
 'Comedy',
 'Documentary',
 'Horror',
 'Animation',
 'Fantasy',
 'War',
 'TV',
 'History',
 'Western',
 'Romance',
 'Crime',
 'Drama',
 'Adventure',
 'Action',
 'Movie',
 'Music',
 'Fiction',
 'Mystery',
 'Thriller',
 'Foreign',
 'Science']

In [7]:
#   this movie is not an Action movie
# [ |
#  [0,1], -> Action
#  [1,0]  -> Adventure
#   |
#   this movie is an Adventure movie
# ]
genres_movies = [[] for i in range(len(genres))]

for row in movie['genres']:
    for index, value in enumerate(genres):
        if value in row.split(' '):
            genres_movies[index].append(1)
        else:
            genres_movies[index].append(0)

In [8]:
genres_movies_dataframe = pd.DataFrame(np.array(genres_movies).T, columns=genres)
genres_movies_dataframe

,Family,Comedy,Documentary,Horror,Animation,Fantasy,War,TV,History,Western,...,Drama,Adventure,Action,Movie,Music,Fiction,Mystery,Thriller,Foreign,Science
0,0,0,0,0,0,1,0,0,0,0,...,0,1,1,0,0,1,0,0,0,1
1,0,0,0,0,0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,0,1,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1428,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1429,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1430,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1431,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,1

In [9]:
temp_dataframe = pd.DataFrame({'original_title': ['Avatar', np.nan, 'Avatar']}).dropna()
temp_dataframe['original_title'].reset_index(drop=True)

0    Avatar
1    Avatar
Name: original_title, dtype: object

In [10]:
title_df = movie['original_title'].reset_index(drop=True)
title_df

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
1427                                Down Terrace
1428                                      Clerks
1429                                   Dry Spell
1430                                 Tin Can Man
1431                                      Primer
Name: original_title, Length: 1432, dtype: object

In [11]:
movie_vector = pd.concat([title_df, genres_movies_dataframe], axis=1)
movie_vector.set_index('original_title', inplace=True)
movie_vector

,Family,Comedy,Documentary,Horror,Animation,Fantasy,War,TV,History,Western,...,Drama,Adventure,Action,Movie,Music,Fiction,Mystery,Thriller,Foreign,Science
original_title,,,,,,,,,,,,,,,,,,,,,
Avatar,0,0,0,0,0,1,0,0,0,0,...,0,1,1,0,0,1,0,0,0,1
Pirates of the Caribbean: At World's End,0,0,0,0,0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
Spectre,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
The Dark Knight Rises,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,0,0
John Carter,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Down Terrace,0,1,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
Clerks,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dry Spell,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tin Can Man,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Primer,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,1

In [12]:
movie_vector.loc['Avatar'].to_list()

[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1]

In [13]:
def cosine_similarity(vect1, vect2):
    norm_1 = np.linalg.norm(vect1)
    norm_2 = np.linalg.norm(vect2)

    return (vect1 @ vect2) / (norm_1 * norm_2)

In [14]:
movie.loc[movie['original_title'] == 'Avatar', ['original_title', 'genres']]

  original_title                                    genres
0         Avatar  Action Adventure Fantasy Science Fiction

In [15]:
movie.loc[movie['original_title'] == 'Tin Can Man', ['original_title', 'genres']]

     original_title  genres
4791    Tin Can Man  Horror

In [16]:
cosine_similarity(movie_vector.loc['Avatar'], movie_vector.loc['Tin Can Man'])

0.0

In [23]:
def recommendation_system(movie, top_N):
    cos_values = pd.Series([cosine_similarity(movie_vector.loc[movie], x) for x in movie_vector.values], index=movie_vector.index) \
                   .drop(index=movie)
                   # drop if index = 'Man of Steel'
    print(cos_values)
    print(f'You like {movie}, so based on our recommender system, We recommend you to watch:')
    for index, value in enumerate(cos_values.sort_values(ascending=False)[:top_N].items()):
        print(f'{index+1}. {value[0]} {value[1]}')

recommendation_system('Man of Steel', 5)

original_title
Avatar                                      1.000000
Pirates of the Caribbean: At World's End    0.774597
Spectre                                     0.516398
The Dark Knight Rises                       0.223607
John Carter                                 0.894427
                                              ...
Down Terrace                                0.258199
Clerks                                      0.000000
Dry Spell                                   0.000000
Tin Can Man                                 0.000000
Primer                                      0.447214
Length: 1431, dtype: float64
You like Man of Steel, so based on our recommender system, We recommend you to watch:
1. Avatar 0.9999999999999998
2. Jupiter Ascending 0.9999999999999998
3. The Wolverine 0.9999999999999998
4. X-Men: Days of Future Past 0.9999999999999998
5. Teenage Mutant Ninja Turtles 0.9128709291752769